absl-py==1.0.0
astor==0.8.1
beautifulsoup4==4.11.1
bleach==5.0.1
bs4==0.0.1
cycler==0.11.0
gast==0.5.3
grpcio==1.48.1
html5lib==1.1
kiwisolver==1.4.4
lxml==4.9.1
Markdown==3.4.1
matplotlib==3.5.3
numpy==1.23.2
protobuf==3.20.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
scipy==1.9.1
tensorboard==2.10.0
# tensorflow-gpu==2.10.0
termcolor==2.1.0
Werkzeug==2.2.2